@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover // не сжимает изображение, а обрезает и остается центральная часть картинки
  .card
    width: 220px
    height: 220px
    &__title
      max-width: 150px

  .packages
    &-container
      &__cards
        grid-template: repeat(2, 500px) / repeat(3, 300px)
  .active   
    &-card
      grid-template: 500px / repeat(2, 315px)
    &-info
      &__item
        &:nth-last-child(3)
          margin-bottom: 15px
  .inactive
    &-card
      grid-template: repeat(2, 250px) / 300px
  
  .footer
    &__input
      &-group
        flex-basis: 100%


@media (max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo 
    width: 132px
  .navbar
    &-top
      padding: 30px 0
      justify-content: space-between
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
      &__item
        &_mobile
          &_visible
            max-width: 95%
    &__search
      margin: 0 auto
    &__user
      &_mobile
        &_hidden
          position: static
      
  // .search
  //   &__input
  //     margin-left: auto
  //     margin-right: auto
  //     max-width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map  
    margin-left: 20px
    width: 340px
    
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities 
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
    &__title
      max-width: 200px

  .packages
    &-container
      &__heading
        font-size: 24px
        line-height: 30px
      &__cards
        grid-template: repeat(2, 500px) / repeat(2, 335px)
  .active   
    &-card
      grid-template: 500px / repeat(2, 350px)
    &-info
      &__item
        &:nth-last-child(3)
          margin-bottom: 25px
  .inactive
    &-card
      grid-template: repeat(2, 250px) / 335px

  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3  
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4

    &-bottom
      
      &__info
        margin-left: 0
        padding-left: 0

        &-span
          white-space: nowrap // чтобы текст в спан не переносился
          margin: 0 5px 0 5px 
      &__image
        justify-self: end
        grid-column: 5 / 6
        grid-column: end
        width: 136px
        height: 22px


@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user 
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &_visible
        display: block
    &-menu
      flex-direction: column
      padding-top: 0
      &__item
        margin-bottom: 20px 
        &_mobile
          &_visible
            display: block
            margin-bottom: 40px

  .menu
    &-button
      width: 16px
      height: 11px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column 
      border: none
      background-color: $light
      cursor: pointer
      padding: 0
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px


  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-right
      flex-direction: column
      min-height: 450px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &-description
        margin: 5px 0
      &__rating
        display: none
      &__offer
        order: -1 // Блок улетает наверх
        margin-left: 0
    &-slider
      height: 350px 
  .stars
    flex-basis: auto
  .booking
    width: 100%
  .ymap-container 
    width: 100%
    margin: 0 
  .google_map
    width: 576px
  .newsletter
    padding: 76px 0 83px 
    height: 319px
    &__title
      margin-bottom: 37px 
      
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
      height: 100%
  .reviews
    &-slider
      &__item
        max-width: 580px
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -80px
          transform: translateX(-50%)
        &--next
          right: 50%
          margin-right: -80px
          transform: translateX(50%)
    &-title
      font-size: 30px
      line-height: 38px
  .card
    width: 48.2%
    height: 220px
    &__title
      max-width: 150px
  .activities
    padding-top: 40px
    padding-bottom: 60px

  .packages
    &-container
      max-width: 576px
      &__cards
        grid-template: repeat(5, 500px) / 100%
        column-gap: 0
        row-gap: 20px

    &-card
      grid-template: repeat(2, 250px) / 100%
      grid-column: span 1
    &-picture
      &__image  
        width: 100%
        border-radius: 8px 8px 8px 8px
    &-info
      padding: 15px 15px 20px 30px
      border-radius: 0px 0px 8px 8px
      &__text, &__rating
        display: none
      &__item
        &:nth-last-child(3)
          margin-bottom: 25px

    &-card
      grid-template: repeat(2, 250px) / 100%
    &-picture
      &__image  
        width: 100%
      &__offer
        font-size: 12px 
        line-height: 15px
        padding: 7px 12px
  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-row-gap: 30px
    &__button
      margin: 0
    &__input
      &-group
        flex-basis: 100%
    &__list
      display: inline-block

    &-bottom
      display: grid
      padding-top: 56px
      &__info
        margin: 0
        margin-bottom: 10px
        
      &__image
        grid-column: 1
        justify-self: start
  .modal
    &__dialog
      padding: 33px 50px
      
@media only screen and (max-height: 320px)
  .modal
    &__dialog
      height: 96%
      overflow: scroll
    &__bottom
      margin-bottom: 20px
  // .navbar
  //   &-menu
  //     display: grid
  //     grid-template-columns: 40% 60%
  //     grid-template-rows: repeat(7, 35px)
  //     &__item_mobile_visible
  //       grid-column: 2 / 3
  //       grid-row: 2 / 6
  //     &__item
  //       grid-column: 1 / 2
  //       grid-row: 1 / 8
  //       justify-content: space-between
  //       align-items: center

@media ( max-width:576px )
  .logo
    width: 99px
  .navbar
    &-top
      padding: 28px 0  


  .hotel
    padding-top: 0
    &__slider
      margin-bottom: 20px
      
    &-slider
      height: 179px
    &-name
      // font-size: 24px
      // line-height: 30px
  .booking
    height: 210px
  #mapDiv 
    height: 172px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  
  .reviews
    &-title
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        text-align: left
  .card
    width: 100%
    &__title
      max-width: 200px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
  .packages
    &-container
      &__heading
        font-size: 18px 
        line-height: 23px
  .footer  
    display: grid
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1 
        display: flex
        flex-wrap: wrap     
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      margin-left: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        display: inline-grid
        grid-row: 7
        grid-column: 1
    &__title
      &-inline
        display: block
        width: 100% 
        margin-right: 0
        margin-bottom: 20px  
    &__massage
      margin-bottom: 0
    &-info
      padding: 15px 0
      flex-basis: 100% // вся ширина 
    &__button
      order: 1 // очередность. поменял местами с текстом
  
.modal
  &__dialog
    max-width: 95%
    // padding: 33px 30px
  &__bottom
    flex-wrap: wrap
  &__button
    display: block
    margin-right: 35px
    // margin-bottom: 15px
@media ( max-width:399px )
  .modal
    &__button
      width: 100%
      margin-right: 0
      margin-bottom: 15px
@media ( max-width:350px )
  .button
    &__back-1
      display: none
    &__back-2
      display: block

@media ( max-width:320px )
  .navbar
    &__search
      width: 87%
    &-menu
      padding: 0
      &__item_mobile_visible
        margin: 0
    &__user_mobile_visible
      margin-bottom: 27px
    &__search_mobile_visible
      margin-bottom: 39px
  .footer
    &-bottom
      padding-top: 30px
  .modal
    &__dialog
      padding: 30px 26px
@media ( max-width:300px )
  .packages
    display: none

      
     
  
