.ymap-container 
  position: relative
  cursor: pointer
  background: url('../img/map-image.jpg') #ffffff no-repeat
  background-position: center center
  background-size: cover
  width: 347px
  height: 213px
  border-radius: 10px
  overflow: hidden 
